#todoList label{
    /*width: 80%;*/
}
#todoList li{
    list-style-type: none;
}
.done label{
    text-decoration: line-through;
}
#todoList .btn{
    margin-left: 10px;
}
.description_text{
    text-align: justify;
}
@keyframes attention {
    9% {
        transform: none;
    }
    12% {
        transform: scale(1.05);
    }
    16% {
        transform: scale(0.95);
    }
    20% {
        transform: scale(1.03);
    }
    24% {
        transform: scale(1);
    }
}
.animation{
    animation: attention 5s ease infinite;
}